pandoc
fastparquet
ipykernel
nbconvert
nbformat==5.7.0
rosbags
pyntcloud
ruff
laspy>2.0.0
pylas
pytest
pytest-cov
docstr-coverage
pytest-check
typer
nbval
geopandas==1.0.1
sphinx
sphinxcontrib-napoleon
sphinx_rtd_theme==0.5.2
nbsphinx
sphinx-click
coverage-badge
bump2version
distributed==2024.11.1